*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(115, 209, 115);
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    /* font-size: 20px; */
}

h1{
    color: RED;
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    color: blue;
}
li{
    list-style: none;
}
.details{
    color: white;
}

#your-name{
    background-color: rgb(22, 187, 187);
    border: 5px solid #444;
    border-radius: 10px;
    margin-top: 10px;
    width: 400px;
    padding: 10px;
}